<script>
  class GoTop extends BASEElementa {
    constructor() {
      super()
      this.style.display = 'block'
      this.component = true
    }
    template() {
      return `
          <div>
          <style>
              .gotop {
                /* position: fixed; */
                bottom: 50px;
                right: 50px;
              }
            </style>
            <div class='gotop' onClick='show()'>TOP</div>
        </div>
        `
    }
    $connectedCallback() {
      console.log(this)
      
    }
  }
  customElements.define('go-top', GoTop)
</script>